.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* star */
.outer-wrapper {
  border: 1px solid lightgray;
  min-width: 320px;
  width: 48%;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
}

.intro-wrapper {
  min-height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.intro-wrapper p {
  max-width: 100%;
  color: white;
  margin: 0;
}

.intro-text {
  padding: 0.5rem;
  word-wrap: break-word;
}

.star-wrapper {
  /* border: 1px solid black; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.star-row {
  /* border: 1px solid green; */
  display: flex;
  background-color: white;
}

.star-row-last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.star-step {
  width: 20%;
  min-width: 70px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-style {
  font-size: 1.5em;
  color: white;
  padding: 0.8rem;
}

.star-answer {
  width: 80%;
  border-bottom: 1px solid lightgray;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-wrap {
  border-bottom-left-radius: 5px;
  border-bottom: none;
  padding: 0.8rem;
}

.star-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom: none;
}

p {
  margin: 1rem;
  height: fit-content;
  background-color: transparent;
}

/* hero */

/*
https://i.ibb.co/JcF7Tyk/Situation-Task-Action-Result.jpg 2
https://i.ibb.co/8chc38c/d-Uvi-Fek-stars-backgrounds.jpg 1
https://i.ibb.co/pbTvhVw/pexels-suzy-hazelwood-1124884.jpg 3
https://i.ibb.co/PWLYrZV/ALo-NVt-R-stars-background-wallpaper.jpg
https://i.ibb.co/MSJpHWh/g-F9-VHxp-star-backrounds.jpg

*/

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://i.ibb.co/pbTvhVw/pexels-suzy-hazelwood-1124884.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(50%);
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hero-title {
  margin: 0;
}

.hero-subtitle {
  margin-bottom: 1rem;
}



